body{
background-color:#232323; color: white;
}

h1{
  color:#dedede;
}

.dot{
  width:25px;
  height:25px;
  border-radius:50%;
  background-color:#ffbb00;
  
}

.triangle{
  width: 30px;
  height:30px;
  padding: 2px;
  background-color:#00ddff;
  }
